*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 15px;
}
#pv_bull{
	background: beige;
	display: flex;
	position: relative;
	justify-content: space-between;
	/*align-items: center;*/
	margin-top: 10px;
	padding-top: 20px;
	height: 100vh;
	background-image: url("./istockphoto.jpg");
	background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-blend-mode: exclusion;  
    background-position:top;
    background: cover;
	
}
#pv_bull:hover{
	transition:0.5s;
	margin-top:30px;
	font-family: serif;


}

#pv{
	position: absolute;
	background:white;
	width: 50%;
	left: 0;
	padding-left: 20px;
	padding-top: 20px;
	box-shadow: 1px 0px 3px 2px skyblue;
	height: 500px;

}
#bull_null{
	position: absolute;
	background: white;
	right: 0;
	width: 50%;
	border: 2px solid beige;
	padding-left: 20px;
	padding-top: 20px;
	box-shadow: 1px 0px 3px 2px skyblue;
	height: 500px;
}
h3{
	color:blue;
	margin-top: 0;
}
.pv_p,
.pv_bulnul{
	font-family: cursive;
	font-size: 18px;
	color: blue;
	text-shadow:1px 5px 3px 10px blue;

}

.formul_pv{
	position: relative;
	display: grid;
	padding-right: 10px;
	padding-bottom: 5px;
	background: beige;
	padding: 25px;
	margin-right: 10px;
}
.formul_pv:hover{
	background: beige;
	box-shadow: 1px 0px 3px 2px skyblue;
	margin:20px 20px 30px 20px; 
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0;
	transition:3s;

}
select,
input,
textarea{
	margin:3px;
	/*border-radius:10px; */
	/*border: solid;*/
	margin-bottom:0.3rem;
}
/*.iput_nom{
	margin: 10px;
}*/
input,
select{
	height: 35px;
}
textarea{
	resize: none;
	margin:3px;
	height: 100px;
}
#btnv_valider{
	
	height: 40px;
	font-family: cursive;
	font-size: 20px;
	
}
#btnv_valider:hover{
	/*position: absolute;*/
	background: blue;
	color:white;
	/*height: 35px;
	width: 40%;
	left: 20%;
	top: 150px;*/

}
/* mon_formul=> myForml*/
#myform{
	position: relative;
	background:beige;
	text-shadow:1px 5px -4px 10px blue; 
	/*justify-content: center;*/
	align-items: center;
	display: grid;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
}
#myform:hover{
	background: beige;
	border-radius: 0;
	margin:30px 30px 20px 20px;
	padding: 10px 20px 5px 15px;
	width: 90%;
	transition: 3s; 

}
.input_text,
#btn_valider{
	display: grid;
	margin-bottom: 5px;
	width:100%;

}
.errors2,
#errors{
	color: red;
	text-align: center;
}
#btn_valider{
	font-family: cursive;
	font-size: 20px;
	text-align: center;
	padding: 2px;
}
#btn_valider:hover{
	background-color: blue; 
	color: #FFF;
}
#resultat_pv{
	display: flex;
	justify-content: space-between;
	background: beige;
	width: 100%;
	height: 70px;
	position: absolute;
	top: 85%;
	left: 0px;
	margin-bottom: 20px;
	padding-top: 5px;
}
.liste_pv{
	margin-left: 10px;
}
.liste_bull_null_blancs{
	margin-right: 10px;
}
a{
	text-decoration: none;
	font-size: 20px;
	padding:20px;
}


@media screen and (max-width: 530px){
    #pv_bull{
         position: relative;
         display: block;
         
    }
   
    #pv{
    	margin-left: 0px;
    	padding: 0; 
    }
    .dipv{
        padding: 0;
        margin:0;
    }
    .div_form_pv{
    	padding: 0;
    	margin-left: 0;
    }
    .formul_pv{
    	padding-left: 3px;
    }
    .formul_pv:hover{
    	padding: 0;


    }
}