
.btn-edit-delete{
	padding: 2px;
	margin: 0px;
}

h1{
	font-size:50px;
}

.form-group {
    position: relative;
}
.form-group .fa{
    position: absolute;
    top: 50%;
    right: 8px;
    background: red;
}

.oeil{
    position: absolute;
    right: 14px;
    top: 26px;
	cursor: pointer;
}

.etoile{
	font-size: 25px;
    color: red;
    position: absolute;
    right: -3px;
    top: 3px;
}


/*****   Tableau de bord ***********/


.tableau-stat .stat{
    padding: 20px;
    font-size: 20px;
    color:#FFF;
    border-radius: 20px;
    position:relative;
    overflow: hidden;
}

.tableau-stat .stat span{
    position: absolute;
    font-size: 80px;
    top: 55px;
    left: 15px;
}

.tableau-stat .stat .effectif{
    float: right;
}

.tableau-stat .stat .nbr{
    font-size: 60px;
}

.tableau-stat .stat12{
    background: #3498db;
}
.tableau-stat .stat1{
    background: #c0392b;
}

.tableau-stat .stat2{
    background: #e67e22;
}

.my-row{
    margin-bottom: 15px;
}







